# Ignore VS Code stuff
**/.vscode/

# Python pre-compiled things
**/__pycache__/
*.py[cod]
*$py.class
**/pythonenv*/
**/.ipynb_checkpoints/

# Ingore a Python .venv folder
**/.venv/

# Visual Studio folders
**/.vs/
**/bin/
**/obj/

# Temp files
*~
**/.DS_Store
**/.DS_Store/
**/temp_install/

# Database files used in cache mode
*.db
*.db-*

# Debug artifacts
*.jsonl

# Output webpages
*.html
